spring:
  application:
    name: UserService
  datasource:
    url: jdbc:postgresql://localhost:5432/user_service
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    enabled: true

server:
  port: 8082

jwt:
  secret: ${JWT_SECRET:Yn2kj3n4f8903nf823nf923nfd92n3f9dnf923ndf923ndf923ndf923ndf923ndf}
  issuer: AuthService

internal:
  service:
    token: ${INTERNAL_SERVICE_TOKEN:internal-service-secret}